.tabs
  margin-top: 30px

.tab-list
  display: inline-block
  list-style: none
  padding: 0.5rem 0.65rem
  color: $border-color

.tab-list-active 
  background-color: white
  color: $active-color
  font-weight: 500

.none
  border: solid $active-color
  border-width: 0 0 2px 0
